<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Metadados básicos -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Biolabs - maior hubde inovação em saúde do norte e nordeste!</title>

  <!-- Link CSS local -->
  <link rel="stylesheet" href="/SRC/assets/css/style.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/SRC/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/SRC/assets/css/owl.theme.default.min.css">

  <!-- Link do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap"
    rel="stylesheet" />

  <!-- Owl Carousel -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

</head>

<body >
  <!-- Cabeçalho com logo e menu -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="SRC/assets/img/logo-branco.png" alt="Logo ICC Biolabs" class="img-fluid" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-auto" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#home"><u>Home</u></a></li>
            <li class="nav-item"><a class="nav-link" href="#quem-somos">Quem somos</a></li>
            <li class="nav-item"><a class="nav-link" href="#o-que-fazemos">O que fazemos</a></li>
            <li class="nav-item"><a class="nav-link" href="#time">Time</a></li>
            <li class="nav-item"><a class="nav-link" href="#time">Startups</a></li>
            <li class="nav-item"><a class="nav-link" href="#mentores">Mentores</a></li>
            <li class="nav-item"><a class="nav-link" href="#jornada">Jornada</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#fale-conosco"><button class="btn-contact">Fale conosco</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="owl-banner-principal">
    <div class="owl-carousel owl-theme owl-topo">
      <div class="item" style="background-image: url('SRC/assets/img/backgroundtopo.png');">
        <!-- Texto principal do cabeçalho -->
        <div class="container">
          <div class="row">
            <div class="col-lg-6 texto">
              <h1 class="h11">
                Conheça o maior hub<br>
                de <span>inovação em saúde <br>do norte e nordeste!</span>
              </h1>
              <p class="lorem">
                Lorem ipsum dolor sit amet consectetur. Ultrices <br />
                pellentesque hendrerit purus molestie. Tristique <br />
                turpis donec amet id eget laoreet.
              </p>
              <a href="#"><button class="b1">Saiba mais</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Seção "Quem Somos" -->
  <section class="quem-somos">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 texto">
          <h3><span>QUEM SOMOS</span></h3>
          <h2 id="h200">
            O ICC Biolabs é o hub de <br /><span>inovação do Grupo ICC</span>
          </h2>
          <p class="lorem">
            Trabalhamos com aceleração e incubação de healthtechs <br />
            e biotechs, com diversas startups do mundo todo,<br />
            implementando a cultura da inovação no Grupo ICC, um <br>dos maiores complexos de saúde do Ceará.
          </p>
          <div class="linha-quem-somos">
            <img src="SRC/assets/img/linhaquemsomos.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6 imagem">
          <div class="caixa">
            <img src="SRC/assets/img/vector-18.png" alt="Imagem" class="img-fluid" />
            <div class="marca">
              BIOLABS
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção "O Que Fazemos" -->
  <section class="que-fazemos" id="que-fazemos">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 imagem-que-fazemos">
          <img src="SRC/assets/img/que-fazemos.png" alt="Imagem do time sentado" id="img" class="img-fluid" />
        </div>
        <div class="col-lg-6">
          <div class="content-texto">
            <div class="titulo-texto">
              O QUE FAZEMOS
            </div>
            <h2>
              Lorem ipsum dolor sit amet <span><br />consectetur. Ut amet.</span>
            </h2>
            <ul>
              <li>
                <h4>Programa de aceleração e incubação de startups</h4>
              </li>
            </ul>
            <p>
              Apoio ao desenvolvimento de negócios inovadores em saúde, através
              do acompanhamento de todas as fases da criação de uma startup e da
              assistência às necessidades do empreendedor.
            </p>

            <ul>
              <li>
                <h4>Inovação aberta</h4>
              </li>
            </ul>
            <p>
              Aproximar soluções de mercado para resolver desafios dentro do
              Grupo ICC.
            </p>

            <ul>
              <li>
                <h4>Cultura da inovação</h4>
              </li>
            </ul>
            <p>
              Disseminação da cultura de inovação dentro de todos os negócios do
              Grupo ICC.
            </p>
          </div>
        </div>
      </div>

      <!-- Seção "Números" -->
      <div class="row numeros">
        <div class="col-lg-12">
          <div data-aos="fade-right" data-aos-duration="1500">
            <h2>
              <span>Números</span> que demonstram o <br />nosso
              <span>impacto no mundo</span>
            </h2>
          </div>
        </div>
        <div class="col-lg-12">
          <img src="SRC/assets/img/linhanumeros.png" alt="Linha de separação" class="img-fluid" />
        </div>

        <div class="col-lg-12 estatistica d-flex justify-content-around flex-wrap">
          <div class="owl-carousel owl-theme owl-numeros">
            <div class="item">
              <span>+46</span>
              <p>Meses de <br />operações</p>
            </div>
            <div class="item">
              <span>+31</span>
              <p>Startups<br />Investidas</p>
            </div>
            <div class="item">
              <span>+10.1</span>
              <p>Milhões investidos <br />em bionegócios</p>
            </div>
            <div class="item">
              <span>+4k</span>
              <p>Horas de mentorias,<br />conteúdos e interações</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="nosso-time" id="time">
    <div class="container">
      <div class="row">
        <div class="col-12 titulo">
          <div class="titulo-pequeno" data-aos="fade-left" data-aos-duration="2000">
            <img src="SRC/assets/img/rectangle-401.png" alt="Ícone" />
            <h3><span>NOSSO TIME</span></h3>
          </div>
          <div class="texto-seta">
            <h2 data-aos="fade-left" data-aos-duration="2000">Apaixonados por inovação e crescimento</h2>
            <div class="setas">
              <button onclick="prevTime()"><img src="SRC/assets/img/left.png" alt="Esquerda" /></button>
              <button onclick="nextTime()"><img src="SRC/assets/img/right.png" alt="Direita" /></button>
            </div>
          </div>
        </div>
      </div>

      <!-- Imagens do time -->
      <div class="row">
        <div class="col-12 imagens">
          <div class="pessoas">
            <div class="owl-carousel owl-theme owl-time">
              <div class="imagem-container">
                <img src="SRC/assets/img/gabriela.png" alt="">
                <div class="texto-sobre-imagem">
                  <h3>Gabriella Bruno</h3>
                  <p>Manager ICC<br>Biolabs
                  </p>
                </div>
                <div class="overlay">
                  <div class="haverText">
                    <h3>Lorem</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate molestiae libero rem
                      temporibus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="imagem-container">
                <img src="SRC/assets/img/albery.png" alt="Albery" />
                <div class="texto-sobre-imagem">
                  <h3>Albery Dias</h3>
                  <p style="padding-bottom: 1.5em;">Advisor</p>
                </div>
                <div class="overlay">
                  <div class="haverText">
                    <h3>Lorem</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate molestiae libero rem
                      temporibus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="imagem-container">
                <img src="SRC/assets/img/leticia.png" alt="Letícia" />
                <div class="texto-sobre-imagem">
                  <h3>Letícia Tomé</h3>
                  <p style="padding-bottom: 1.5em;">Apoio à gestão</p>
                </div>
                <div class="overlay">
                  <div class="haverText">
                    <h3>Lorem</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate molestiae libero rem
                      temporibus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Startups e Mentores -->
  <section class="startups" id="startup">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tituloStartup">
            <h2>Startups</h2>
            <h3>Empresas que caminham com a gente</h3>
          </div>
        </div>
      </div>
      <!-- Container das tabs -->
      <div class  ="d-flex justify-content-center mb-4">
        <!-- Botões das tabs -->
        <button class="btn btn-outline-primary tab-button active" id="aceleradasBtn">Aceleradas</button>
        <button class="btn btn-outline-primary tab-button" id="aquisoesBtn">Aquisições</button>
      </div>

      <!-- Conteúdo da tab 'Aceleradas' -->
      <div id="aceleradas" class="tab-content">
        <div class="col-12">
          <div class="content imagens  custom-flex">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <a href="/Startups.html" target="_parent">
                    <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid"></a>
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Conteúdo da tab 'Aquisições' -->
      <div id="aquisoes" class="tab-content" style="display: none;">
        <div class="col-12">
          <div class="content imagens  custom-flex">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <a href="/Startups.html" target="_parent">
                    <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid"></a>
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/amarelocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
              <div class="col imagensJornada d-flex justify-content-center">
                <div class="p-3">
                  <img src="SRC/assets/img/plantaocard.png" alt="" class="image-zoom img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </section>

  <section class="mentores" id="mentores">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="tituloMentores">
            <h3>MENTORES</h3>
            <h2 data-aos="zoom-in" data-aos-duration="2000">
              Especialistas que apoiam o <br> seu crescimento
            </h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
        <div class="owl-carousel owl-theme owl-mentores">
          <div class="col d-flex justify-content-center">
            <div class="p-3">
              <img src="SRC/assets/img/claudio.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="p-3">
              <img src="SRC/assets/img/cristiano.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="p-3">
              <img src="SRC/assets/img/diana.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="p-3">
              <img src="SRC/assets/img/joao-andre.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="jornada" id="jornada">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tituloJornada text-center">
            <h3><span>JORNADA ICC BIOLABS</span></h3>
            <h2 data-aos="zoom-in" data-aos-duration="2000">Como as startups evoluem conosco</h2>
          </div>
        </div>
        <!-- Container das tabs -->
        <div class  ="d-flex justify-content-center mb-4">
          <!-- Botões das tabs -->
          <button class="btn btn-outline-primary tab-button active" id="incubacaoBtn">Jornada de incubação</button>
          <button class="btn btn-outline-primary tab-button" id="aceleracaoBtn">Jornada de aceleração</button>
        </div>

        <!-- Conteúdo da tab 'Aceleradas' -->
        <div id="incubacao" class="tab-content">
          <div class="content-one">
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/Vector.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Ideação</h3>
                <ul>
                  <li>Pesquisa e Validação</li>
                  <li>Modelo de Negócios</li>
                  <li>Teste de Hipóteses</li>
                  <li>Pitch</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/prototipagem.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Prototipagem</h3>
                <ul>
                  <li>Aspectos jurídicos iniciais</li>
                  <li>MVP média fidelidade</li>
                  <li>Validação do MVP</li>
                  <li>Estratégia de vendas</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/go-to-market.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Go-To-Market</h3>
                <ul>
                  <li>Estratégias de entrada no mercado</li>
                  <li>Vendas e Precificação</li>
                  <li>Conexões com parceiros estratégicos</li>
                  <li>Posicionamentos de marketing</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/ciclo.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Encerramento do ciclo</h3>
                <ul>
                  <li>Evento de Graduação</li>
                  <li>DemoDay</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Conteúdo da tab 'Aquisições' -->
        <div id="aceleracao" class="tab-content" style="display: none;">
          <div class="content-one">
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/Vector.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Ideação</h3>
                <ul>
                  <li>Pesquisa e Validação</li>
                  <li>Modelo de Negócios</li>
                  <li>Teste de Hipóteses</li>
                  <li>Pitch</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/prototipagem.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Prototipagem</h3>
                <ul>
                  <li>Aspectos jurídicos iniciais</li>
                  <li>MVP média fidelidade</li>
                  <li>Validação do MVP</li>
                  <li>Estratégia de vendas</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/go-to-market.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Go-To-Market</h3>
                <ul>
                  <li>Estratégias de entrada no mercado</li>
                  <li>Vendas e Precificação</li>
                  <li>Conexões com parceiros estratégicos</li>
                  <li>Posicionamentos de marketing</li>
                </ul>
              </div>
            </div>
            <div class="item">
              <div class="elipse-container d-flex justify-content-center align-items-center">
                <img src="SRC/assets/img/ciclo.svg" alt="">
              </div>
              <div class="text-container">
                <h3>Encerramento do ciclo</h3>
                <ul>
                  <li>Evento de Graduação</li>
                  <li>DemoDay</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="2000">
          <img src="SRC/assets/img/linhajornada.svg" alt="" class="img-fluid" id="fale-conosco">
        </div>
      </div>
    </div>
  </section>

  <section class="contato">
    <div class="container">
      <div class="row">
        <!-- Seção de Telefone e Endereço -->
        <div class="col-lg-5 col-md-6">
          <div class="content-telefone">
            <h2>Fale com nossa equipe</h2>
            <div class="telefone d-flex align-items-center mt-3">
              <img src="SRC/assets/img/telefone.svg" alt="Telefone">
              <a href="tel:8530314766" class="numerowpp">
                <p>- (85) 3031-4766</p>
              </a>
            </div>
            <div class="endereco d-flex align-items-center mt-4">
              <img src="SRC/assets/img/local.svg" alt="Endereço">
              <a href="localbiolabs">
                <p>Prédio Anexo - 5° Andar, R. Papi Júnior, 1222 <br>- Rodolfo Teófilo, Fortaleza - CE, 60730-155</p>
              </a>
            </div>
            <div class="botaomapa mt-4">
              <a class="btnmapa" href="https://maps.app.goo.gl/GjdvF4u3bcTCrdqJ7">
                <img src="SRC/assets/img/setalocal.svg" alt="Seta">
                Ver no mapa
              </a>
            </div>
          </div>
        </div>

        <!-- Seção de Formulário -->
        <div class="col-lg-7 col-md-6">
          <div class="formulario">
            <form action="" method="post">
              <h2>Envie sua mensagem</h2>
              <p>Preencha o formulário</p>

              <!-- Grupo de Campos Nome e E-mail -->
              <div class="form-group row">
                <div class="col-md-6 mb-3">
                  <label for="campo1">Nome</label>
                  <input type="text" id="campo1" class="form-control" placeholder="">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="campo2">E-mail</label>
                  <input type="text" id="campo2" class="form-control" placeholder="">
                </div>
              </div>

              <!-- Grupo de Campos Telefone e Empresa -->
              <div class="form-group row">
                <div class="col-md-6 mb-3">
                  <label for="campo3">Telefone</label>
                  <input type="text" id="campo3" class="form-control" placeholder="">
                </div>
                <div class="col-md-6 mb-3">
                  <label for="campo4">Empresa</label>
                  <input type="text" id="campo4" class="form-control" placeholder="">
                </div>
              </div>

              <!-- Rodapé do Formulário -->
              <div class="form-footer d-flex justify-content-between align-items-center mt-4">
                <label>
                  <input type="checkbox"> Aceito as Políticas de Privacidade
                </label>
                <button type="submit" class="submit-btn">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="row">
        <!-- Coluna 1: Logo e Redes Sociais -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="d-flex flex-column align-items-start">
            <img src="SRC/assets/img/logo-branco.png" alt="Logo Biolabs" class="img-fluid">
            <p></p>
            <p></p>
            <div class="mt-3 d-flex gap-3">
              <a href="#"><img src="SRC/assets/img/insta.svg" alt="Instagram" class="social-icon"></a>
              <a href="#"><img src="SRC/assets/img/facebook.svg" alt="Facebook" class="social-icon"></a>
              <a href="#"><img src="SRC/assets/img/linkedin.svg" alt="LinkedIn" class="social-icon"></a>
            </div>
          </div>
        </div>

        <!-- Coluna 2: Menu -->
        <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
          <h4>Menu</h4>
          <ul class="list-unstyled">
            <li><a href="index.html" class="text-white">Home</a></li>
            <li><a href="#h200" class="text-white">Quem somos</a></li>
            <li><a href="#que-fazemos" class="text-white">O que fazemos</a></li>
            <li><a href="#time" class="text-white">Time</a></li>
            <li><a href="#startup" class="text-white">Startups</a></li>
            <li><a href="#mentores" class="text-white">Mentores</a></li>
            <li><a href="#jornada" class="text-white">Jornada</a></li>
          </ul>
        </div>

        <!-- Coluna 3: Contatos -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <h4>Contatos</h4>
          <div class="d-flex align-items-center mb-2">
            <img src="SRC/assets/img/email.svg" alt="E-mail" class="me-2">
            <a href="#" class="text-white">iccbioabs@icc.org.br</a>
          </div>
          <div class="d-flex align-items-center mt-2">
            <img src="SRC/assets/img/telefone2.svg" alt="Telefone" class="me-2">
            <a href="#" class="text-white"></a>
          </div>
          <h4 class="mt-4">Endereço</h4>
          <p style="color: white;">Prédio Anexo - 5º Andar, R. Papi Júnior, 1222 - Rodolfo Teófilo, Fortaleza - CE,
            60730-155</p>
        </div>

        <!-- Coluna 4: LGPD -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <h4>LGPD</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white lgpd">Políticas de Privacidade</a></li>
            <li><a href="#" class="text-white lgpd">Políticas de Cookies</a></li>
          </ul>
        </div>
      </div>
>
      <div class="row mt-4">
        <div class="col-md-6 text-start">
          <p class="text-white">Biolabs - 2024</p>
        </div>
        <div class="col-md-6 text-end">
          <img src="SRC/assets/img/biofinal.svg" alt="Ícone Final" class="img-fluid">
        </div>
      </div>
    </div>
  </footer>

  <!-- Linkagem do Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


  <script src="./SRC/assets/js/jquery.min.js"></script>
  <script src="./SRC/assets/js/owl.carousel.js"></script>
  <script src="./SRC/assets/js/owl.carousel.min.js"></script>
  <script src="./SRC/assets/js/script.js"></script>

</body>

</html>